@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Платформа поиска работы Ifrit</h1>
    <p class="lead">
        Платформа представляет возможности размещения вакансий, поиска соискателей для работодателя
        и создания резюме и поиска вакансий для соискателя.
    </p>
    @Html.ActionLink("Начать использование", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
</div>
