@model Ifrit.Models.UIFindVacancy
@{
    ViewBag.Title = "Find";
}

<h2>Поиск резюме</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.Title, "Введите искомое резюме ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })*@
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Поиск..." class="btn btn-default" />
            </div>
        </div>
    </div>
}